* {
  font-family: monospace;
}

.slide-in-from-left {
  animation-duration: 3s;
  animation-name: slidein;
  animation-iteration-count: 1;
}

.drawer-button {
  position: fixed;
  background-color: rgb(152, 194, 192);
  border: 1px solid black;
  border-radius: 25px;
  height: 5%;
  width: 5%;
}

.drawer {
  border: 1px solid rgb(187, 203, 216);
  border-radius: 10px;
  background-color: aliceblue;
  height: 100vh;
  width: 20vw;
  position: fixed;
  right: 100%;
  top: 0%;
  transition: 1s;
}

.drawer-active {
  transform: translateX(100%);
}

@keyframes slidein {
  from {
    transform: translateX(100%);
  }

  to {
    transform: translateX(0%);
  }
}
